.headerContainer {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.headerContainer .logo {
    width: fit-content;
}
.headerContainer .logo img {
    width: 3rem;
}
.headerContainer .navbar .nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.headerContainer .navbar .nav-items li {
    display: inline;
}
.headerContainer .navbar .nav-items li:hover a {
    display: inline;
    background-color: #fad6dc;
    border-radius: .6rem;
    color: #a63f50;
    font-weight: bold;
}
.headerContainer .navbar .nav-items li a {
    padding: 0.4rem;
    text-decoration: none;
    margin: 0 .5rem;
    color:#484644;
    font-weight: 400;
}
.headerContainer .navbar .nav-items .btn {
    border-radius: 1rem;
    border-color: #484644;
    width: fit-content;
    margin: .3rem;
}
.headerContainer .navbar .nav-items .btn-logout {
    border: none;
    border-radius: .5rem;
    padding: .4rem;
    background-color: #fad6dc;
    color: #D9546A;
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.headerContainer .navbar .nav-items .btn-logout:hover {
    background-color: #D9546A;
    color: #fad6dc;
}
.headerContainer .navbar .nav-items .btn:active,
.headerContainer .navbar .nav-items .btn:focus {
    border-color: #D9546A !important;
    box-shadow: none;
}
.headerContainer .navbar .nav-items .btn a{
    text-decoration: none;
    color: #484644;
}
.headerContainer .navbar .nav-items .btn:hover, .headerContainer .navbar .nav-items .btn a:hover {
    border-color: #D9546A;
    background-color: #D9546A;
    color: #fff;
}



/*PORTFOLIO headerContainer*/
.portfolioHeader {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    position: relative;
}

.portfolioHeader .navbar .nav-items li a.active {
    color: #D9546A ;
    font-weight: bold ;
}