.headerContainer {
    width: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-block: 1rem;
    padding-inline: 1rem;
}

/*PORTFOLIO headerContainer*/
.portfolioHeader {
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    position: relative;
}

.portfolioHeader .navbar .nav-items li a.active {
    color: #D9546A ;
    font-weight: bold ;
}
@media screen and (max-width: 1024px) {
    .headerContainer {
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px); /* Agrega un desenfoque al fondo */
        flex-direction: column;
    }
}