@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
    height: 100%; 
    background-color: var(--clr-neutral-0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
blockquote,
label,
input,
textarea,
button,
a {
    font-family: "Roboto", sans-serif;
    font-size: 14px !important;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
h1 {
    font-size: 28px !important; 
}

h2 {
    font-size: 24px !important; 
}

h3 {
    font-size: 20px !important; 
}

h4 {
    font-size: 18px !important; 
}

h5 {
    font-size: 16px !important; 
}

h6 {
    font-size: 14px !important; 
}

